section.faqs_section {
    padding: 39px 0px;
}

button.accordiam_toggle_button {
    display: block;
    width: 100%;
    border: 2px solid #47A942;
    text-align: left;
    outline: none;
    padding: 14px 26px 16px 42px;
    box-shadow: none;
    background: transparent;
    position: relative;
    font-size: 12px;
    border-radius: 7px;
    background-color: #47A942;
    color: #ffffffba;
    font-family: "Exo2-Regular";
}
button.accordiam_toggle_button::after {
    content: "";
    background-image: url(../img/open.png);
    background-position: center right 12px;
    background-size: 15px;
    height: 25px;
    width: 28px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 23px;
    top: 15px;
}
button.accordiam_toggle_button.collapsed{
    background-color: transparent !important;
    font-family: "Exo2-Bold";
    color: #000000d9;

}
button.accordiam_toggle_button.collapsed::after {
    background-image: url(../img/accordian_close.png);
}
.content_of_accordian {
    padding: 15px 26px 15px 42px;
    font-size: 14px;
    line-height: 21px;
}
.accordiam_controller {
    margin-top: 24px;
}