.best_recipe_text.text-center {
    position: relative;
    top: -70px;
    background: #FFFFFF;
    width: 92%;
    margin: 0px auto;
    margin-bottom: -12px;
    padding: 28px 0px 34px 0px;
    box-shadow: -1px -3px 11px #e7cfcf;
}
.best_recipe_text.text-center a {
    color: #47A942;
    font-family: "Poppins-Medium";
    font-size: 12px;
}
.best_recipe_text.text-center a svg {
    position: relative;
    top: 2px;
    left: 6px;
    max-width: 13px;
}
.product_start {
    padding-top: 104px;
    padding-bottom: 89px;
}
.single-reicepe {
    padding: 0px 9px;
}
.best_recipe_text.text-center {
    margin-bottom: -24px;
    box-shadow: -1px 0px 4px #e7cfcf;
}
section.product_section .top_section.text-center h4, h4 span {
    margin-bottom: 17px;
    font-size: 35px;
}
input.normal_input {
    height: 35px;
    width: 40%;
    font-family: 'Poppins-Regular';
    font-size: 11px;
    color: #3e3a3a;
    padding-top: 2px;
}
.for_search {
    margin-top: 28px;
}
p {
    color: #000;
}
button.btn.rounded-0.search-btn {
    padding-top: 9px;
    padding-bottom: 9px;
    position: relative;
    left: -4px;
    padding-left: 34px;
    padding-right: 34px;
}