section.details_section {
    padding-top: 24px;
}
section.details_section .details_start .top_text {
    margin-left: 11vw;
    width: 64.8%;
}
section.details_section .details_start .top_text .taj_icon img {
    max-width: 25px;
}
section.details_section .details_start .top_text h4 {
    margin-top: 5px;
    font-size: 29px;
}
.img_detail {
    padding-left: 11vw;
    display: flex;
}

.img_detail figure {width: 70%;}

.for_text ul {
    border: 1px solid #70707026;
    padding: 22px 8px 24px;
}

.for_text ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: 'Poppins-Regular';
}

.for_text ul li span {
    font-family: "Poppins-Bold";
    font-size: 12px;
    padding: 0px 11px;
}
.for_text {
    padding-left: 11px;
}

.for_text ul li:not(:first-child) {
    margin-top: 17px;
}


.ingrediants_points .single_column p {
    display: flex;
    line-height: 22px;
    font-size: 13px;
    color: #000000;
    margin-top: 9px;
    margin-bottom: -2px;
}
.ingrediants_points .single_column p::before {
    content: "";
    width: 25px;
    display: block;
    height: 19px;
    background-image: url(../img/tick.png);
    background-repeat: no-repeat;
    margin-top: 4px;
}
.ingrediants {
    margin-left: 11vw;
    padding-top: 80px;
    width: 64.8%;
}

.ingrediants_points {
    padding-top: 4px;
    display: flex;
    gap: 5%;
}
.instructions {
    width: 64.8%;
    margin-left: 11vw;
    padding-top: 77px;
    padding-bottom: 87px;
}

.text_instruction {
    padding-top: 16px;
}
h5 {
    color: #000000;
    font-size: 25px;
}
.text_instruction p {
    color: #000000;
}
@media (max-width: 1200px){
    section.details_section .details_start .top_text {
        margin-left: 2vw;
        width: 89.8%;
    }
    .img_detail {
        padding-left: 2vw;
    }
    .img_detail figure {
        width: 60%;
    }
    .ingrediants {
        margin-left: 2vw;
        padding-top: 80px;
        width: 87.8%;
    }
    .instructions {
        width: 84.8%;
        margin-left: 2vw;
        padding-top: 77px;
        padding-bottom: 87px;
    }
    .img_detail {
        display: unset;
    }
    .img_detail figure {
        width: 94%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .for_text {
        padding-left: 11px;
        margin-top: 20px;
    }
    .for_text ul {
        width: 89%;
        margin: auto;
    }
}
@media (max-width: 768px){
    .ingrediants_points {
        padding-top: unset;
        display: flex;
        gap: 3%;
        flex-wrap: wrap;
    }
    .single_column {
        padding-top: 10px;
    }
}